<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QDTech.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8733DB231E63135500F4ECEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8733DB3C1E63135600F4ECEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8733DB471E63135600F4ECEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
